<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Is It Home Time Yet?</title>
        <style type = "text/css" media="screen"> 
            body{padding-top: 10em;}
            h2{font-family:helvetica,sans-serif;font-size:4em;font-weight:bold;text-align:center;letter-spacing:-0.8pt;word-spacing:2.2pt;, font-color:#000;}
        </style
    </head>
    <body>
        <h1>Is It Home Time Yet?</h1>
        <h2><%= yield %></h2>
    </body>
</html>
